.mainPanel {
    display: flex;
    justify-content: center;
    margin: -10px;
    background-image: url(images/fondo.jpg);
    background-repeat: repeat-y;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.leftBar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 25px;
    background-color: #ffffff;
}

.board {
    margin: 20px;
    background-image: url(images/tablero.jpg);
    position: relative;
    border-radius: 25px;
}

#boardCells {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(18, 40px);
    grid-template-rows: repeat(18, 40px);
    border: 1px solid #FFCB72;
}

.boardCell {
    border: 1px solid;
    border-color: #FFCB72;
}

#gridCells {
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(19, 40px);
    position: absolute;
    top: 0;
}

.gridCell {
    border: 1px dot-dash lightgrey;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turnBlack .gridCell:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.turnWhite .gridCell:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.gridCell.stoneWhite,
.gridCell.stoneWhite:hover {
  background-image: url(images/blanca.png);
  background-repeat: no-repeat;
  background-position: center;
    cursor: auto;
}

.gridCell.stoneBlack,
.gridCell.stoneBlack:hover {
  background-image: url(images/negra.png);
  background-repeat: no-repeat;
  background-position: center;
    cursor: auto;
}

.stoneWhite.latest,
.stoneBlack.latest {
    border: 2px solid red
}

.turnPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 50px 30px;
}

.turnLab {
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.playerTurn {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 25%;
    padding: 10px;
}

.turnWhite .playerTurn {
    background-color: white;
}

.turnBlack .playerTurn {
    background-color: black;
}

.passBtn {
    margin: 15px;
    height: 40px;
    background: white;
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    cursor: pointer;
    border: 2px solid #E97414;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.passBtn:hover{
    background-color: #E97414;
  color: white;
}

.puntajes {
    text-transform: uppercase;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 20px 5px;
}
